@media screen and (max-width:1024px) {
    .nav{
        /* padding: 1.5vh 5vw; */
    }
    .hero1{
        
    }
}
    




@media screen and (max-width:768px) {
    .nav{
        padding: 1.3vh 4vw;
    }
    .navpart2{
        font-size: 15px;
        gap: 2.3vw;
    }
    .hero1{

    }
}



@media (max-width:550px) {
    .nav{
        padding: 1vh 3.5vw;
    }
    .navpart2{
        display: none;
    }
    
}